@import url('https://fonts.googleapis.com/css2?family=Inter:display=swap');

*{

  font-family:'inter';
  font-family: 'Inter', sans-serif;
}

body{
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}